# ============================================================
# CREDENCIALES / SECRETOS
# ============================================================

.env
.env.*
*.env

.streamlit/secrets.toml
**/.streamlit/secrets.toml
secrets.toml
secret*
*secret*
*.toml


# ============================================================
# DATOS / ARCHIVOS LOCALES
# ============================================================

Datos/
data/
*.csv
*.xlsx
*.xls
*.xlsm
*.parquet
*.json
streamlit_app/.streamlit/secrets.toml

# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/


# ============================================================
# ENTORNOS VIRTUALES
# ============================================================

venv/
.venv/
env/
ENV/
conda-meta/


# ============================================================
# SISTEMA / EDITORES
# ============================================================

.DS_Store
Thumbs.db
.vscode/
.idea/